.gcloudignore

.git
.gitignore

/.circleci/
/.gcp/env.example.yaml
/.gcp/README.md
/bin/
/cache/
/docker/
/report/
/tests/
/vendor/
.editorconfig
.env
.env.example
.env.test
.phpunit.result.cache
cli-config.php
docker-compose.yml
phpcs.xml
phpstan.neon
phpunit.xml
README.md
