<footer class="bg-ultra-dark-gray">
    <div class="border-bottom border-white py-3">
        <a class="d-block mx-auto" href="#" data-scroll-target="body"><img class="w-100" src="/images/common/footer_arrow.svg"></a>
    </div>
    <div class="py-3 text-xx-small">
        <ul class="d-flex justify-content-center mb-2">
            <li class="px-md-2 px-1 border-right border-white"><a class="text-white" href="https://www.toei.co.jp/" target="_blank">東映オフィシャルサイト</a></li>
            <li class="px-md-2 px-1 border-right border-white"><a class="text-white" href="#">特定商取引法に基づく表記</a></li>
            <li class="px-md-2 px-1"><a class="text-white" href="https://www.toei.co.jp/policy/index.html" target="_blank">プライバシーポリシー</a></li>
        </ul>
        <p class="mb-0 text-white text-center">&copy; TOEI THEATERS All rights reserved.</p>
    </div>
</footer>