<div class="d-md-flex align-items-center d-none header-menu">
    <ul class="d-flex align-items-center pr-1">
        <li class="px-2 py-2 text-center">
            <a class="text-white d-block" href="#">
                <img class="header-icon" src="/images/header/icon_top_01.svg">
                <div class="text-s-small">上映中作品</div>
            </a>
        </li>
        <li class="px-2 py-2 text-center">
            <a class="text-white d-block" href="#">
                <img class="header-icon" src="/images/header/icon_top_02.svg">
                <div class="text-s-small">上映予定作品</div>
            </a>
        </li>
        <li class="px-2 py-2 text-center">
            <a class="text-white d-block" href="#">
                <img class="header-icon" src="/images/header/icon_top_03.svg">
                <div class="text-s-small">丸の内 TOEI</div>
            </a>
        </li>
        <li class="px-2 py-2 text-center">
            <a class="text-white d-block" href="#">
                <img class="header-icon" src="/images/header/icon_top_03.svg">
                <div class="text-s-small">渋谷 TOEI</div>
            </a>
        </li>
        <li class="px-2 py-2 text-center">           
            <a class="text-white d-block" href="#">
                <img class="header-icon" src="/images/header/icon_top_04.svg">
                <div class="text-s-small">よくあるご質問</div>
            </a>
        </li>
    </ul>
</div>