<div class="py-5 item">
    <h3 class="text-s-large text-center py-2 bg-super-light-orange mb-4">{{ theater.getNameJa() }} TOEI ①</h3>
    <div class="d-md-flex">
        <div class="contents ml-md-4 order-2">
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>座席数</dt>
                <dd>一般席 509<br class="d-md-none">(車椅子スペース2)</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>スクリーンサイズ<br>（H×W）</dt>
                <dd>
                    V.V→4.6×8.05<br>
                    C.S→4.6×10.3<br>
                    S.D→4.6×6.3
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>アンプ</dt>
                <dd>Electro-Voice</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>スピーカー</dt>
                <dd>
                    フロント→JBL5674 <br>
                    SW→JBL4642<br>
                    サラウンド→JBL8330
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>ドルビー</dt>
                <dd>
                    SR<br>
                    SRD<br>
                    SRD-EX
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>デジタル上映設備</dt>
                <dd>NEC NC3200S</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>デジタル3D設備</dt>
                <dd>Dolby3D</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>喫煙</dt>
                <dd>館内は全面禁煙とさせていただいております。ご了承くださいませ。</dd>
            </dl>

        </div>
        <div class="thumbnail py-4 order-1 pr-md-5 text-center">
            <img class="px-4 d-block w-100" src="/images/floor-guide/marunouchi1j.jpg">
            <img class="px-4 py-4 d-block w-100 screen-image" src="/images/floor-guide/screen1_maru.svg">
            <a class="text-small text-light-blue" href="#">拡大</a>
        </div>
    </div>
</div>

<div class="py-5 item">
    <h3 class="text-s-large text-center py-2 bg-super-light-orange mb-4">{{ theater.getNameJa() }} TOEI ②</h3>
    <div class="d-md-flex">
        <div class="contents ml-md-4 order-2">
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>座席数</dt>
                <dd>一般席 350<br class="d-md-none">(車椅子スペース2)</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>スクリーンサイズ<br>（H×W）</dt>
                <dd>
                    V.V→3.63×6.9<br>
                    C.S→4.1×9.1<br>
                    S.D→4.1×5.1
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>アンプ</dt>
                <dd>Electro-Voice</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>スピーカー</dt>
                <dd>
                    フロント→JBL4675<br>
                    SW→JBL4642<br>
                    サラウンド→JBL8330
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>ドルビー</dt>
                <dd>
                    SR<br>
                    SRD<br>
                    SRD-EX
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>デジタル上映設備</dt>
                <dd>NEC NC2500S</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>デジタル3D設備</dt>
                <dd>Dolby3D</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>喫煙</dt>
                <dd>館内は全面禁煙とさせていただいております。ご了承くださいませ。</dd>
            </dl>

        </div>
        <div class="thumbnail py-4 order-1 pr-md-5 text-center">
            <img class="px-4 d-block w-100" src="/images/floor-guide/marunouchi2j.jpg">
            <img class="px-4 py-4 d-block w-100 screen-image" src="/images/floor-guide/screen2_maru.svg">
            <a class="text-small text-light-blue" href="#">拡大</a>
        </div>
    </div>
</div>