<div class="modal fade" id="screenModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-transparent border-0">
            <div class="text-right mb-2">
                <a class="d-inline-block" href="#" data-dismiss="modal"><img src="/images/icon/icon_close.svg" width="30"></a>
            </div>
            <img class="d-block w-100 screen-image">
        </div>
    </div>
</div>
