<div class="py-5 item">
    <h3 class="text-s-large text-center py-2 bg-super-light-orange mb-4">{{ theater.getNameJa() }} TOEI ①</h3>
    <div class="d-md-flex">
        <div class="contents ml-md-4 order-2">
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>座席数</dt>
                <dd>一般席 270<br class="d-md-none">(車椅子スペース2)</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>スクリーンサイズ<br>（H×W/単位 cm）</dt>
                <dd>
                    V.V→4220×7800<br>
                    C.S→4220×9900<br>
                    HDサイズ→4220×7500
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>アンプ</dt>
                <dd>Electro-Voice CP 3000S</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>スピーカー</dt>
                <dd>
                    フロント→JBL4632<br>
                    SW→JBL4645<br>
                    サラウンド→JBL8340
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>音響</dt>
                <dd>
                    デジタル 5.1CH<br>
                    (イベント上映時、<br>
                    アナログステレオ再生)
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>デジタル上映設備</dt>
                <dd>NEC NC3200S</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>デジタル3D設備</dt>
                <dd>Dolby3D</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>喫煙</dt>
                <dd>館内は全面禁煙とさせていただいております。ご了承くださいませ。</dd>
            </dl>

        </div>
        <div class="thumbnail py-4 order-1 pr-md-5 text-center">
            <img class="px-4 d-block w-100" src="/images/floor-guide/shibuya1j.jpg">
            <img class="pl-1 pr-4 py-4 d-block w-100 screen-image" src="/images/floor-guide/screen1.svg">
            <a class="text-small text-light-blue" href="#">拡大</a>
        </div>
    </div>
</div>

<div class="py-5 item">
    <h3 class="text-s-large text-center py-2 bg-super-light-orange mb-4">{{ theater.getNameJa() }} TOEI ②</h3>
    <div class="d-md-flex">
        <div class="contents ml-md-4 order-2">
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>座席数</dt>
                <dd>一般席 189<br class="d-md-none">(車椅子スペース2)</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>スクリーンサイズ<br>（H×W/単位 cm）</dt>
                <dd>
                    V.V→3700×6800<br>
                    C.S→3700×8700<br>
                    HDサイズ→3700×6580
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>アンプ</dt>
                <dd>Electro-Voice CP 3000S</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>スピーカー</dt>
                <dd>
                    フロント→JBL4632<br>
                    SW→JBL4645<br>
                    サラウンド→JBL8340
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>音響</dt>
                <dd>
                    デジタル 5.1CH<br>
                    (イベント上映時、<br>
                    アナログステレオ再生)
                </dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>デジタル上映設備</dt>
                <dd>NEC NC3200S</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>デジタル3D設備</dt>
                <dd>Dolby3D</dd>
            </dl>
            <dl class="d-flex border-bottom border-ultra-light-gray py-4">
                <dt>喫煙</dt>
                <dd>館内は全面禁煙とさせていただいております。ご了承くださいませ。</dd>
            </dl>

        </div>
        <div class="thumbnail py-4 order-1 pr-md-5 text-center">
            <img class="px-4 d-block w-100" src="/images/floor-guide/shibuya2j.jpg">
            <img class="pl-1 pr-4 py-4 d-block w-100 screen-image" src="/images/floor-guide/screen2.svg">
            <a class="text-small text-light-blue" href="#">拡大</a>
        </div>
    </div>
</div>