<div id="{{ schedule.getId() }}" class="item">
    {% include "schedule/include/row_title_pc.html.twig" with {
        schedule: schedule,
        theaters: theaters,
    } only %}
    
    {% include "schedule/include/row_title_sp.html.twig" with {
        schedule: schedule,
        theaters: theaters,
    } only %}
</div>