{% extends "layout.html.twig" %}

{% block title %}よくあるご質問(Q&A) | {{ parent() }}{% endblock %}

{% block description %}シネサンシャインのよくあるご質問(Q&A)ページです。お客様からいただいたご質問などをご案内{% endblock %}

{% block keywords %}{{ parent()}},よくあるご質問,Q&A{% endblock %}

{% block css %}
<link href="/css/faq.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="/js/faq.js"></script>
{% endblock %}

{% block contents %}
<div class="py-3">
    <div class="base-width mx-auto px-3">
        <ul class="breadcrumb-list text-small">
            <li>
                <a class="text-light-blue" href="{{ path_for('homepage') }}">
                    <span>ホーム</span>
                </a>
            </li>
            <li>
                <span>よくあるご質問</span>
            </li>
        </ul>
    </div>
</div>

<div class="py-4 text-ultra-dark-gray">
    <div class="base-width mx-auto px-3">
        <h2 class="text-large text-center mb-4"><strong>よくあるご質問</strong></h2>
        <div class="mb-5">
            <div class="border-bottom border-ultra-light-gray py-3">
                <h3>チケット購入について</h3>
            </div>
            <ul>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>チケットはいつから購入できますか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>ご鑑賞日の2日前から購入できます。（作品によっては2日より前から購入できる場合もあります。）<br><span class="text-x-small">※株主優待、招待券をご利用になる場合は、ご鑑賞当日に直接劇場のチケット窓口までお越しください。</span></p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>前売券（ムビチケ）を利用したいのですが。</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>窓口で座席指定券とのお引換えが必要です。通常、ご鑑賞日の２日前からお引換え可能ですが、作品によっては早まる場合がございますのでご了承下さい。<br><span class="text-x-small">※「ムビチケ」タイプの前売券は、オンラインで座席予約が可能です。詳しくは当ページの「ムビチケについて」をご覧ください。</span></p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>チケットの日時、作品、料金、座席の変更はできますか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>ご購入後のチケットの払い戻しや日時、作品、料金、座席の変更はできませんので、予めご了承ください。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>大学生のチケット購入は、証明書が必要ですか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>大学生の方はチケット購入時に、学生証など証明できるものをご提示ください。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>シニア・夫婦５０割引のチケット購入は、証明書が必要ですか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>年齢確認のための証明できるもの(運転免許証等)をご提示をお願いする場合がございます。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>チケットは何歳から必要ですか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>3歳のお子様から必要です。（作品によっては2歳のお子様から必要になる場合もあります。）3歳未満のお子様は、保護者の方のお膝の上でご鑑賞の場合は料金をいただいておりませんが、座席をご利用になる場合は料金をいただきます。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>チケットの電話予約はできますか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>電話予約はできません。インターネット購入をご利用ください。</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div class="mb-5">
            <div class="border-bottom border-ultra-light-gray py-3">
                <h3>インターネットでのチケット購入について</h3>
            </div>
            <ul>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>スマートフォンや携帯から購入はできますか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>スマートフォンやインタネットブラウザ機能を備えた携帯電話での購入が可能です。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>支払方法は何がありますか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>お支払いはクレジットカード決済となります。<br><span class="text-x-small">※「ムビチケ」タイプの前売券は、オンラインで座席予約が可能です。詳しくは当ページの「ムビチケについて」をご覧ください。</span></p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>一度に何枚まで購入できますか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>一度のご購入で6枚まで可能です。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>購入後の取消しや日時、作品、料金、座席の変更はできますか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>ご購入後のチケットの取消しや日時、作品、料金、座席の変更はできませんので、予めご了承ください。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>前売券（ムビチケ）・株主優待・招待券は利用できますか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>前売券（紙タイプの従来前売券）、株主優待、招待券はインターネット予約ではご利用頂けません。ご利用になる場合は直接劇場のチケット窓口にお越しください。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>料金案内にある割引やサービスデーで利用したいのですが。</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>上映スケジュールからサービスデー実施日を選択し、「券種を選択する」画面時に、該当券種の選択をお願いします。割引適用のチケットご購入のお客様は、入場時にチケットと一緒に証明書をご提示ください。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>チケットの発券・入場方法について教えてください。</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>ＱＲスマート入場となるため、発券の必要はございません。詳しくは<a class="text-light-blue" href="https://ticket.toeitheaters.com/#/ticketing-method" target="_blank">こちら</a>よりご確認ください。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>チケットを購入しましたが、購入確認メールが届きません。</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>ドメイン指定受信に「@example.com」が設定されているか、迷惑メール設定、セキュリティ設定の状況をご確認ください。設定に問題が無く予約完了メールが届かない場合は、劇場までお問い合わせください。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>予約番号を忘れてしまいました。</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>劇場スタッフにお声掛けください。お客様の予約情報を確認致します。<br>※劇場の混雑状況に応じてお時間を頂戴する場合がございます。</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="mb-5">
            <div class="border-bottom border-ultra-light-gray py-3">
                <h3>ムビチケについて</h3>
            </div>
            <ul>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>ムビチケとは何ですか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>オンライン（インターネット）で購入・座席予約できる電子前売券です。詳しくは<a class="text-light-blue" href="https://movieticket.jp/Guide" target="_blank">こちら</a>よりご確認ください。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>ムビチケの利用方法を教えてください。</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>劇場窓口とインターネット購入でご利用いただけます。インターネットをご利用の場合、券種選択画面時に「ムビチケを利用する」から購入手続きをお進めください。一般的な利用方法は<a class="text-light-blue" href="https://movieticket.jp/" target="_blank">こちら</a>よりご確認ください。</p>
                        </div>
                    </div>
                </li>
                <li class="border-bottom border-ultra-light-gray py-3">
                    <div class="question">
                        <a href="#" class="d-flex align-items-baseline text-ultra-dark-gray pr-5">
                            <p class="text-light-blue text-xx-large mr-4">Q</p>
                            <p>舞台挨拶など特別上映でも利用できますか？</p>
                        </a>
                    </div>
                    <div class="d-none answer">
                        <div class="d-flex align-items-baseline mt-3 pr-5">
                            <p class="text-pink text-xx-large mr-4">A</p>
                            <p>特別料金や均一料金を設定する場合はご利用になれません。（一部、通常料金イベント上映にて、「ムビチケ利用可」とする場合がございます）</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}