{% extends "layout.html.twig" %}

{% block title %}特定商取引法に基づく表記 |{{ parent() }}{% endblock %}

{% block description %}特定商取引法に基づく表記{% endblock %}

{% block keywords %}{{ parent()}},特定商取引法{% endblock %}

{% block css %}
<link href="/css/law.css" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="py-3">
    <div class="base-width mx-auto px-3">
        <ul class="breadcrumb-list text-small">
            <li>
                <a class="text-light-blue" href="{{ path_for('homepage') }}">
                    <span>ホーム</span>
                </a>
            </li>
            <li>
                <span>特定商取引法に基づく表記</span>
            </li>
        </ul>
    </div>
</div>

<div class="py-4 text-ultra-dark-gray law">
    <div class="base-width mx-auto px-3">
        <h2 class="text-large text-center mb-4"><strong>特定商取引法に基づく表記</strong></h2>
        <div class="py-3">
            <div class="inner-parts mb-4">
                <h2 class="text-s-large mb-3">事業者</h2>
                <ul>
                    <li>･ 販売事業者　東映株式会社</li>
                    <li>･ 販売事業者所在地　東京都中央区銀座３丁目２番17号</li>
                    <li>･ 代表者　多田憲之</li>
                    <li>･ お問合せ先　丸の内ＴＯＥＩ⇒03-3535-4741　渋谷ＴＯＥＩ⇒03-5467-5773</li>
                </ul>
            </div>
            <div class="inner-parts mb-4">
                <h2 class="text-s-large mb-3">ご購入に際して</h2>
                <p class="mb-0">■ご購入対象/価格/期間</p>
                <ul>
                    <li>･ ご利用の内容に応じたサービス内容となりますので､本サイトの販売画面にて詳細のご案内を差し上げております｡</li>
                </ul>
                <p class="mb-0">■ご購入内容の有効期間</p>
                <ul>
                    <li>･ ご購入時から､ご利用内容の映画上映開始時刻まで､となります｡</li>
                </ul>
                <p class="mb-0">■ご購入枚数制限</p>
                <ul>
                    <li>･ 1回のお申込みにつき､６枚までとなります（７枚以上のお申込みの場合は､必要回数のお手続きをお願いいたします）｡<br>なお、お座席はお申込み単位で離れた位置でのご案内となる場合がございます。</li>
                </ul>
            </div>
            <div class="inner-parts mb-4">
                <h2 class="text-s-large mb-3">ご購入内容の変更</h2>

                <p class="mb-0">■キャンセル/払戻し</p>
                <ul>
                    <li>･
                        ご購入手続き完了後は､ご入場券の発券の有無に限らず､またいかなる理由に拘わらず､その内容の変更､キャンセル､払戻しはお受けしておりません｡ただし､弊社事情により上映を中止した場合に限り､ご購入内容の払戻しをお受けします｡払戻しは､窓口発券の場合は入場券をご返却いただくこと、スマート入場の場合は購入画面の提示を前提といたします｡</li>
                    <li>･
                        払戻し方法は､ご利用のクレジットカード会社､株式会社ムービーウォーカーおよび弊社の処理方法に準じます｡また､払戻し実施に際しましては､入場券の券面金額のみが払戻し対象となり､その他の費用（ご利用に付随して発生した諸費用）はお支払いいたしかねます｡</li>
                </ul>
                <p class="mb-0">■お支払方法</p>
                <ul>
                    <li>･ クレジットカードによる決済またはムビチケによる決済のいずれかになります｡</li>
                </ul>
                <p class="mb-0">■お支払時期</p>
                <ul>
                    <li>･ 商品申込み完了時にお支払となります(ただし､ご請求日は各クレジットカード会社によって異なります）。</li>
                </ul>
            </div>
            <div class="inner-parts mb-4">
                <h2 class="text-s-large mb-3">お引渡しに際して</h2>
                <p class="mb-0">■お引渡場所とお引渡方法</p>
                <ul>
                    <li>･ チケット情報照会ページのＱＲコード表示、もしくは劇場窓口にて引渡し</li>
                    <li>･
                        劇場窓口での発行に際しては､ご購入時にお知らせする｢予約番号｣とご購入時にご入力いただいた｢電話番号｣が必要となります｡｢予約番号｣と｢電話番号｣をお忘れの場合や上映時刻を過ぎた場合はチケットを発行できない場合もございます｡その際の､ご購入の内容の変更､キャンセル､払戻しはお受けいたしかねます｡なお､チケットの送付サービス等は行っておりません｡</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}