<div class="bg-ultra-light-gray py-5">
    <div class="other-cinema mx-auto px-3">
        <h2 class="d-flex text-large mb-4 align-items-center justify-content-center"><img class="mr-2" src="/images/portal-top/icon_top_10.svg"><strong>リンク</strong></h2>
        <ul class="d-flex flex-wrap">
            <li class="px-md-4"><a class="d-block" href="https://tjoy.co.jp/" target="_blank">
                <img class="w-100" src="/images/portal-top/tjoy.gif"></a></li>
            <li class="px-md-4"><a class="d-block" href="https://tjoy.jp/shinjuku_wald9" target="_blank">
                <img class="w-100" src="/images/portal-top/balt.gif"></a></li>
            <!--<li class="px-md-4"><a class="d-block" href="http://www.cinemafrontier.net/" target="_blank">
                <img class="w-100" src="/images/portal-top/cinema.gif"></a></li>-->
            <li class="px-md-4"><a class="d-block" href="https://mvtk.jp/" target="_blank">
            <img class="w-100" src="/images/portal-top/mvtk_150_60_1.jpg"></a></li>
            
            <li class="px-md-4"><a class="d-block" href="https://ikoikoeigakan.com/" target="_blank">
                <img class="w-100" src="/images/portal-top/eigakan-iko.jpg"></a></li>
        </ul>
    </div>
</div>