<li class="border-bottom border-dark-gold">
    <a class="d-block d-md-flex align-items-center justify-content-between text-ultra-dark-gray py-3 pl-3 pr-5 pr-md-3"
        href="#TODO">
        <div class="mb-2 mb-md-0">{{ news.getStartDt()|date('y/m/d') }}</div>
        <p class="mb-0">{{ news.getHeadline() }}</p>
        <div class="text-light-blue text-right d-none d-md-block">
            <span class="arrow-blue">さらに詳しく</span>
        </div>
    </a>
</li>