<div class="mb-5">
    <div class="border-bottom border-ultra-light-gray py-3">
        <h3 class="font-weight-bold">通常料金</h3>
    </div>
    <div class="d-flex border-bottom border-ultra-light-gray py-3">
        <p>一般</p>
        <p class="price ml-auto">2,000円</p>
    </div>
    <div class="border-bottom border-ultra-light-gray py-3">
        <div class="d-flex mb-md-1 mb-2">
            <p>大学生</p>
            <p class="price ml-auto">1,500円</p>
        </div>
        <p class="text-x-small">※学生証をご提示ください。</p>
    </div>
    <div class="border-bottom border-ultra-light-gray py-3">
        <div class="d-flex mb-md-1 mb-2">
            <p>高校生、中学生、小学生、幼児（※3歳以上）</p>
            <p class="price ml-auto">1,000円</p>
        </div>
        <p class="text-x-small">※3歳未満のお子様でもお席を利用になる場合は1席につき1名様分の幼児料金をいただきます。</p>
    </div>
    <div class="border-bottom border-ultra-light-gray py-3">
        <div class="d-flex mb-md-1 mb-2">
            <p>シニア</p>
            <p class="price ml-auto">1,300円</p>
        </div>
        <p class="text-x-small">※60歳から</p>
    </div>
    <div class="border-bottom border-ultra-light-gray py-3">
        <div class="d-flex mb-md-1 mb-2">
            <p>障がい者割引</p>
            <p class="price ml-auto">1,000円</p>
        </div>
        <p class="text-x-small">※付き添い1名様まで同料金</p>
        <p class="text-x-small">※障がい者手帳をご提示ください。</p>
    </div>
</div>

<div class="mb-5">
    <div class="border-bottom border-ultra-light-gray py-3">
        <h3 class="font-weight-bold">サービスデー・割引料金</h3>
    </div>
    <div class="border-bottom border-ultra-light-gray py-3">
        <div class="d-flex mb-md-1 mb-2">
            <p>ファーストデー</p>
            <p class="price ml-auto">1,300円</p>
        </div>
        <p class="text-x-small">※毎月1日</p>
        <p class="text-x-small text-red font-weight-bold">※12月1日（映画の日）は1,000円</p>
    </div>
    <div class="border-bottom border-ultra-light-gray py-3">
        <div class="d-flex mb-md-1 mb-2">
            <p>水曜サービスデー</p>
            <p class="price ml-auto">1,300円</p>
        </div>
        <p class="text-x-small">※毎水曜日</p>
    </div>
    <div class="border-bottom border-ultra-light-gray py-3">
        <div class="d-flex mb-md-1 mb-2">
            <p>ペア50割引<br class="d-md-none">（性別問わずどちらかが50歳以上）</p>
            <p class="price ml-auto">3,000円<br class="d-md-none">（2名）</p>
        </div>
        <p class="text-x-small">※同時刻、同一作品を鑑賞する場合に限ります。</p>
        <p class="text-x-small">※年齢を証明できるものをご提示ください。</p>
    </div>
</div>

<div class="mb-5">
    <p class="text-x-small py-3">※演劇・コンサートなどの作品で、上記以外の特別料金を設定させていただく場合がございます。</p>
</div>
